/* footer begins */

.footer_content {
    /* height: 434px; */
    padding-bottom: 8px;
}


.footer_content_logo {
    height: 100px;
    padding-top: 40px;
    padding-left: 85px;
}

.footer_content_links {
    /* padding-top: 55px; */
    padding-left: 45px;
    padding-bottom:50px
}

.footer_content_links li {
    padding-top: 8px;
}

.footer_content_links li a {
    text-decoration-style: dotted;
}

.footer_content_links li a:link {
    color: white;
}

.footer_content_links li a:active {
    color: white;
}

.footer_content_links li a:visited {
    color: white;
}


.footer_content_button {
    padding-top: 70px;
    padding-left: 85px;
}

.footer_content_button button {
    border-radius: 5px;
    width: 102px;
    height: 36px;
    background: #FFC627;
    font-size: 1.2em;
    font-weight: bold;
    color: #1e1e1e;
    border-width: thin;

}

.footer_bottom {
    background-color: #FFC627;
    height: 77px;
}

.goldbarText {
    font-size: 28px;
    font-weight: bold;
    color: #1e1e1e;
    margin:0; padding:0;
    text-align:right;
    padding-top:10px
}

.goldbarText a {
    text-decoration: none;
    color: #1e1e1e;
    text-align:right;
}


#footer_bottom_img {
    position: relative;
    bottom: 20px;
    top: -20px;
}


.footer_bot {
    background-color: transparent;
    vertical-align: middle;
    text-align:center;
}

.footer_bot a {
    color: #2a2a2a;
    text-decoration: none;
    text-align: center;

}




@media (max-width: 1400px) {
    .footer_bottom_text a {
        font-size: 24px;
    }   
}

@media (max-width: 768px) {
    #footer_bottom_img {
        display: none;
    }
    .goldbarText  {
        font-size: 20px;
        text-align: right;
        padding-top:20px
    }   
    .footerBottomLinks {
        padding: 5px;
        /* text-align: left; */
    }
    .footer_content {
        /* margin-left: -50px */
    }
    .footer_bot{
        text-align: left;
    }
}