<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <title>COVID Campus Game</title>

    <meta http-equiv="refresh" content="0; URL='http://xr.asu.edu/productpage?=5f37365a36d55f83a9c770a6'"/>

</head>

<body>
</body>

</html>