
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coordinate Create</title>

    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">



    <style>
      #colorsRow td {
        height: 50px;
        width: 50px;
        border: 5px solid white;
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
  </head>
  <body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="dashboard.html">Coordinate</a>
    <a class="nav-link" href="logout" style="color: white">Logout</a> 
  </nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="dashboard">
              Dashboard 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              Create a New Dataset <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="manageData">
              Manage Existing Datasets
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Other</span>
          <a class="d-flex align-items-center text-muted" href="#">
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Support
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Create Dataset</h1>
      </div>

      <!-- Spreadsheet guidelines -->
      <div class="accordion" id="guidelinesAccordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Show/Hide Spreadsheet Guidelines
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#guidelinesAccordion">
            <div class="card-body">
              <h5 class="card-title"></h5>
          <h6 class="card-subtitle mb-2 text-muted">Before uploading your data, ensure that your spreadsheet follows these guidelines:</h6>
          <br>
          <h5>Accepted Files Types</h5>
          <p>Currently, we are only able to support CSV (Comma Separated Value) files.</p>
          <br>
          <div class="card-text">
            <h5>Required and Optional Values</h5>
            <p>The following data must be included in your file.</p>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">REQUIRED Values</th>
                  <th scope="col">OPTIONAL Values</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Name</b>
                      <br>
                      <i> ex: The Best Company or John Smith</i>
                  </td>
                  <td><b>State</b>
                    <br>
                    <i> ex: Arizona or AZ</i>
                  </td>
                </tr>
                <tr>
                  <td><b>Street Address</b>
                      <br>
                      <i> ex: 500 N Elm St or 681 North Elm St. Suite 150</i>
                  </td>
                  <td><b>Description</b>
                      <br>
                      <i> ex: This cafe serves freshly brewed coffee, espresso beverages, and light pastries.</i>
                  </td>
                </tr>
                <tr>
                  <td><b>City</b>
                      <br>
                      <i> ex: Phoenix or Tempe</i>
                  </td>
                  <td><b>Additional numerical value</b> 
                      <br>
                      <i>ex: Employees or Revenue</i>
                  </td>
                </tr>
                <tr>
                  <td><b>Postal Code</b>
                    <br>
                    <i>ex: 85281 or 85281-9043</i>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td><b>Category</b>
                      <br>
                      <i>ex: Education, Art, or Fast Food</i>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td><b>At least one numerical value</b>
                      <br>
                      <i>ex: Employees or Revenue</i>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>

            <br>
            <h5>Example Spreadsheet</h5>
            <p>Here's an example of an acceptable spreadsheet:</p>

            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Street Address</th>
                  <th scope="col">City</th>
                  <th scope="col">Postal Code</th>
                  <th scope="col">Category</th>
                  <th scope="col">Revenue</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Pizza Palace</td>
                  <td>500 West Sparky Road Ste 150</td>
                  <td>Phoenix</td>
                  <td>85044</td>
                  <td>Food and Beverage</td>
                  <td>55000</td>
                </tr>
                <tr>
                  <td>Meteor Studio</td>
                  <td>950 S. Forest Mall</td>
                  <td>Tempe</td>
                  <td>85281</td>
                  <td>Education</td>
                  <td>804533.89</td>
                </tr>
                <tr>
                  <td>Arizona State University</td>
                  <td>680 N Innovation Blvd</td>
                  <td>Tempe</td>
                  <td>85281</td>
                  <td>Education</td>
                  <td>900000.00</td>
                </tr>
              </tbody>
            </table>
          </div>
            </div>
          </div>
        </div>
      </div>


      
      <div class="card col-lg-12">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <form id="uploadForm" enctype="multipart/form-data" action="/upload" method="post">
              <label for="datasetname">Dataset Name:</label>
              <input type="text" id="datasetname" name="datasetname" required>
              <br>
              <label for="csvfile">Your file:</label>
                <input type="file" id="csvfile" name="csvfile">
                <br>
              <label for="colorScheme">Color Scheme:</label>
                <select name="colorScheme" id="colorSchemeDropdown">
                  <option value="0" selected>Scheme 1</option>
                  <option value="1">Scheme 2</option>
                  <!-- <option value="2">Scheme 3</option>
                  <option value="3">Custom</option> -->
                </select>
                <br>
                <table>
                  <tr id="colorsRow">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              <div id="colorFields" style="display: none;">
                  <input type="number" id="color0_r" name="color0_r" required>
                  <input type="number" id="color0_g" name="color0_g" required>
                  <input type="number" id="color0_b" name="color0_b" required>
          
                  <input type="number" id="color1_r" name="color1_r" required>
                  <input type="number" id="color1_g" name="color1_g" required>
                  <input type="number" id="color1_b" name="color1_b" required>
          
                  <input type="number" id="color2_r" name="color2_r" required>
                  <input type="number" id="color2_g" name="color2_g" required>
                  <input type="number" id="color2_b" name="color2_b" required>
          
                  <input type="number" id="color3_r" name="color3_r" required>
                  <input type="number" id="color3_g" name="color3_g" required>
                  <input type="number" id="color3_b" name="color3_b" required>
          
                  <input type="number" id="color4_r" name="color4_r" required>
                  <input type="number" id="color4_g" name="color4_g" required>
                  <input type="number" id="color4_b" name="color4_b" required>
          
                  <input type="number" id="color5_r" name="color5_r" required>
                  <input type="number" id="color5_g" name="color5_g" required>
                  <input type="number" id="color5_b" name="color5_b" required>
          
                  <input type="number" id="color6_r" name="color6_r" required>
                  <input type="number" id="color6_g" name="color6_g" required>
                  <input type="number" id="color6_b" name="color6_b" required>
          
                  <input type="number" id="color7_r" name="color7_r" required>
                  <input type="number" id="color7_g" name="color7_g" required>
                  <input type="number" id="color7_b" name="color7_b" required>
          
                  <input type="number" id="color8_r" name="color8_r" required>
                  <input type="number" id="color8_g" name="color8_g" required>
                  <input type="number" id="color8_b" name="color8_b" required>
          
                  <input type="number" id="color9_r" name="color9_r" required>
                  <input type="number" id="color9_g" name="color9_g" required>
                  <input type="number" id="color9_b" name="color9_b" required>
              </div>
          
          
                <br>
                <input type="submit" value="Submit" name="submit" id="uploadButton">
            </form>
          </div>
        </div>
        <div id="appendtable">

        </div>

      
    </main>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  var colors_0 = [
 {r: 18, g: 0, b: 66, a: 1}, //dark purple
 {r: 84, g: 40, b: 201, a: 1}, //medium purple
 {r: 190, g: 165, b: 255, a: 1}, //light purple
 {r: 7, g: 46, b: 76, a: 1},//dark blue
 {r: 0, g: 170, b: 255, a: 1}, //light blue
 {r: 0, g: 196, b: 101, a: 1}, //spotify green
 {r: 15, g: 71, b: 34, a: 1}, //darkish green
 {r: 113, g: 204, b: 16 , a: 1}, //lime green
 {r: 242, g: 239, b: 65, a: 1}, //yellow
 {r: 255, g: 177, b: 68, a: 1} //orange
  ];

  var colors_1 = [
    {r: 108, g: 0, b: 12, a: 1}, //dark purple
       {r: 254, g: 38, b:31, a: 1}, //medium purple
       {r: 255, g: 178, b:206, a: 1}, //light purple
       {r: 143, g: 215, b:225, a: 1},//dark blue
       {r: 255, g: 198, b:10, a: 1}, //light blue
       {r: 129, g: 45, b:198, a: 1}, //spotify green
       {r: 188, g: 161, b:221, a: 1}, //darkish green
       {r: 62, g:  23, b:206, a: 1}, //lime green
       {r: 68, g: 19, b:48, a: 1}, //yellow
       {r: 224, g: 66, b:31, a: 1} //orange
  ];

window.onload = function(e){ 
 // set default color scheme to option
   var dropdown = document.getElementById("colorSchemeDropdown");
   dropdown.value = 0;
   $('#colorsRow').children('td').each(function (index, i) { 
     $(this).css("background-color", "rgb(" + colors_0[index].r + "," + colors_0[index].g + "," + colors_0[index].b + ")");
   });

   for (var i = 0; i < colors_0.length; i++) {
     document.getElementById('color' + i + '_r').value = colors_0[i].r;
     document.getElementById('color' + i + '_g').value = colors_0[i].g;
     document.getElementById('color' + i + '_b').value = colors_0[i].b;
   }
}







 $('#colorSchemeDropdown').change(function(){
      var dropdown = document.getElementById("colorSchemeDropdown");
     if (dropdown.options[dropdown.selectedIndex].value == 0) {
       $('#colorsRow').children('td').each(function (index, i) { 
         $(this).css("background-color", "rgb(" + colors_0[index].r + "," + colors_0[index].g + "," + colors_0[index].b + ")");
       });

       for (var i = 0; i < colors_0.length; i++) {
         document.getElementById('color' + i + '_r').value = colors_0[i].r;
         document.getElementById('color' + i + '_g').value = colors_0[i].g;
         document.getElementById('color' + i + '_b').value = colors_0[i].b;
       }
     }  
     else if (dropdown.options[dropdown.selectedIndex].value == 1) {
       $('#colorsRow').children('td').each(function (index, i) { 
         $(this).css("background-color", "rgb(" + colors_1[index].r + "," + colors_1[index].g + "," + colors_1[index].b + ")");
       });

         for (var i = 0; i < colors_1.length; i++) {
           document.getElementById('color' + i + '_r').value = colors_1[i].r;
           document.getElementById('color' + i + '_g').value = colors_1[i].g;
           document.getElementById('color' + i + '_b').value = colors_1[i].b;
         }
      }  
     else if (dropdown.options[dropdown.selectedIndex].value == 2) {
       $('#colorsRow').children('td').each(function (index, i) { 
         $(this).css("background-color", "rgb(" + colors_2[index].r + "," + colors_2[index].g + "," + colors_2[index].b + ")");
       });

         for (var i = 0; i < colors_2.length; i++) {
           document.getElementById('color' + i + '_r').value = colors_2[i].r;
           document.getElementById('color' + i + '_g').value = colors_2[i].g;
           document.getElementById('color' + i + '_b').value = colors_2[i].b;
         }
     }  

 });
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script type="text/javascript" src="public/js/create.js"></script>

    </body>
</html>