<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>XR@ASU | Arizona State University</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="uielements.css">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-VhBcF/php0Z/P5ZxlxaEx1GwqTQVIBu4G4giRWxTKOCjTxsPFETUDdVL5B6vYvOt" crossorigin="anonymous">

  <script>
    var error = "";
    var error2 = "";
    var error3 = "";
    var page = 1;
  </script>


  <style>
    .img-hover-zoom {
      height: 200px;
      /* [1.1] Set it as per your need */
      overflow: hidden;
      /* [1.2] Hide the overflowing of child elements */
    }

    /* [2] Transition property for smooth transformation of images */
    .img-hover-zoom img {
      transition: transform .5s ease;
    }

    /* [3] Finally, transforming the image when container gets hovered */
    .img-hover-zoom:hover img {
      transform: scale(1.5);
    }

    .bar-thing {
      width: 80px;
      height: 0px;
      right: 0px;
      /* transform: matrix(0, 1, -1, 0, 0, 0); */
      border: 5px solid #FFC627;
      opacity: 1;
      align-content: center;
      text-align: center;
    }

    h5 {
      font-weight: bold;
    }

    .itemtype {
      background: #FF7F32;
      max-width: 150px;
      padding: 5px;
      color: white;
      font-size: 70%;
      text-align: center;
      vertical-align: center;
      position: relative;
      margin-top: -4%;
      margin-left: 5%;
    }

    .bouton-image:before {
      content: "";
      width: 14px;
      height: 16px;
      display: inline-block;
      margin-right: 0px;
      vertical-align: text-top;
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .monBouton:before {
      background-image: url("Icon - chevron-right-solid.svg");
    }

    /* button {
      top: 1365px;
      left: 94px;
      width: 143px;
      height: 32px;
      background: #E6E6E6 0% 0% no-repeat padding-box;
      border: 1px solid #E6E6E6;
      opacity: 1;

    } */

    p.roboto {
      margin-left: 400px;
      margin-right: 400px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      letter-spacing: 0.09px;

    }

    .test {
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #707070;
      border-radius: 171px;
      opacity: 1;
    }

    .searchbar {
      width: 529px;
      height: 48px;
      margin-left: 485px;
      margin-right: 485px;
      text-align: center;
    }

    .bar {
      top: 109px;
      left: 0px;
      width: 1280px;
      height: 60px;
      background: #353535 0% 0% no-repeat padding-box;
      opacity: 1;
    }


    .grid-container {
      display: inline-grid;
      grid-column-gap: 50px;
      grid-template-columns: auto auto auto;
      background-color: #FFFFFF;
      /*#FFC627;*/
      padding: 10px;
      align-content: center;
    }

    .grid-item {
      background-color: #FFFFFF;
      text-align: center;
      padding: 10px;
      font-size: 12px;
      justify-content: center;
    }

    .text-block {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: black;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
    }

    .sidebar {
      top: 1310px;
      left: 78px;
      width: 220px;
      height: 363px;
      opacity: 1;
    }

    .item1 {
      grid-column: 1;
      grid-row: 1 / span2;
      background-color: #FFFFFF;

    }

    .item2 {
      grid-column: 2;
      grid-row: 1 / span 2;
    }

    .item3 {
      grid-column: 3;
      grid-row: 1 / span 2;
    }

    * {
      box-sizing: border-box;
    }

    .column {
      float: left;
      padding: 1px;
      height: 800px;
    }

    .left {
      width: 25%;
    }

    .right {
      width: 75%;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }


    .container ul {
      text-decoration: none;
    }


    /* Cards */
    .ellipsis {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .nextBtn {
      color: #2A2A2A;
    }

    .experienceCard {
      border: none;
      margin: 0;
      padding: 0;
      background: transparent;
      text-align: left;
    }

    .experienceCard:active, 
    .experienceCard:focus 
    {
        border: none;
        color:transparent;
    }


    /* header begins
.header_1{
height: 109px;
}

.header_1 p{
position: relative;
top: 28px;
left: 85px;
width: 78px;
height: 29px;
color: #2A2A2A;
font-weight: 900;
font-size: 1.5em;

}

.header_1_logo{
padding-left: 85px;
padding-top: 20px;
}

.header_1_logo img{
position: absolute;
top: 24px;
left: 85px;
width: 207px;
height: 37px;
} */


    /* ASU XR  Header */
    #asuxr_header {
      background-color: #353535;
      min-height: 58px;
      height: 58px;
    }

    .asuxr_header_link {
      text-decoration: none;
      text-align: center;
      vertical-align: center;
    }

    .asuxr_header_link a {
      text-decoration: none;
      padding-right: 50px;
      text-align: left;
      vertical-align: center;
    }

    .asuxr_header_link a:link {
      color: white;
    }

    .asuxr_header_link a:active {
      color: #FFC627;
    }

    .asuxr_header_link a:visited {
      color: white;
    }

    /* END OF ASU HEADER */

    #hero_img {
      margin-top: -6%;
      max-width: 100%;
    }



    .header_2_button {
      position: relative;
      top: -5px;
      border-radius: 5px;
      width: 150px;
      height: 36px;
      background: #FFC627;
      font-size: 1.2em;
      font-weight: bold;
      color: #1e1e1e;
      border-width: thin;
    }


    /* Arizona State University Header */
    .header-container {
      max-width: 1270px;
      min-width: 990px;
      font-size: 1rem;
      margin-right: auto;
      margin-left: auto;
      padding-left: 25px;
      padding-right: 25px;

      height: 89px;
      width: 1280px;
      left: 0px;
      top: 1px;
    }

    .header-top {
      position: relative;
      width: 100%;
      height: 58px;
      background: transparent;
      display: block;
      margin: 0;
      font-size: 0.8rem;
      line-height: 1em;
      color: black;
      overflow: visible !important;
    }

    .header-logo img {
      margin: 0;
      float: left;
      width: 207px;
      height: 37px;
      padding-top: 12px;
      display: block;
      line-height: 12.8px;
      box-sizing: content-box;

    }

    .header-nav {
      position: relative;
      display: block;
      float: right;
      margin: 0 auto;
      margin-top: 11px;
      text-align: center;
      /*top: 11px;
left: 736px;
width: 463px;
height: 33px;*/
      z-index: 100;
    }

    /* nav items that don't dropdown*/
    .nav-link-item {
      color: black;
    }

    /* parent of any dropdown items */
    .drop-item {
      color: black;
    }

    .nav-item {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: white;
    }

    .nav-item:hover .dropdown-content {
      display: block;
    }

    .nav-item:hover .dropitem {
      background-color: white;
    }

    .header-search {
      clear: right;
      float: right;
      position: relative;
    }

    .header-search-button {
      position: absolute;
      top: 5px;
      width: 8px;
      height: 12px;
      font-size: 0.01px;
      line-height: 15px;
      cursor: pointer;
      text-indent: -9999px;
      padding: 0 12px 0 0;
      border: 0;
    }

    .header-bottom {
      display: block;
      overflow: hidden;
      padding: 0 0 2px 10px;
      font-size: 1.5em;
      margin-top: 5px;
      width: 100%;
    }

    /* .navbar ul{
list-style:none;
position: absolute;
top: 10px;
left: 50%;
margin-top: 5px;
text-decoration: none;
}

.navbar ul li{
font-size: small;
text-decoration: none;
float: right;
margin-left: 4px;
}


.navbar ul li ul li{
font-size: small;
text-decoration: none;
display: none;
display: none;
position: relative;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.navbar ul li:hover ul li {
display: block;
} */
    .ASU_search_box_div {
      float: right;
      padding-right: 15%;
    }

    /* header ends */




    #intro {
      margin-top: 70px
    }

    /* footer begins */
    .footer {
      background-color: #000000;
      /* height: 434px; */
    }

    .footer_content {
      height: 434px;
      padding-bottom: 8px;
    }


    .footer_content_logo {
      height: 100px;
      padding-top: 40px;
      padding-left: 85px;
    }

    .footer_content_links {
      padding-top: 55px;
      padding-left: 45px;
    }

    .footer_content_links li {
      padding-top: 8px;
    }

    .footer_content_links li a {
      text-decoration-style: dotted;
    }

    .footer_content_links li a:link {
      color: white;
    }

    .footer_content_links li a:active {
      color: white;
    }

    .footer_content_links li a:visited {
      color: white;
    }


    .footer_content_button {
      padding-top: 70px;
      padding-left: 85px;
    }

    .footer_content_button button {
      border-radius: 5px;
      width: 102px;
      height: 36px;
      background: #FFC627;
      font-size: 1.2em;
      font-weight: bold;
      color: #1e1e1e;
      border-width: thin;

    }

    .footer_bottom {
      background-color: #FFC627;
      height: 77px;
    }

    .footer_bottom_text {
      padding-top: 19px;
      float: right;
      font-size: 2em;
      font-weight: 900;
      color: #1e1e1e;
      padding-right: 30px;
    }

    .footer_bottom_img {
      position: relative;
      padding-right: 8%;
      bottom: 20px;
      float: right;
      top: -20px;
      max-width: 110%;
      max-height: 110%;
    }


    .footer_bot {
      height: 69px;
      background-color: #e5e5e5;
      padding-left: 85px;
      vertical-align: middle;
      padding-top: 27px;
    }

    .footer_bot a {
      padding-right: 28.8px;
      text-decoration: none;
    }

    .footer_bot a:link {
      color: #2a2a2a;
    }

    .capsule {
      /* min-height: 550px; */
      margin-top: 50px;
      margin-bottom: 50px;
      margin-right: 20px;
      margin-left: 20px;
      padding-top: 50px;
      padding-bottom: 25px;

      border: 1px solid lightgray;
      border-radius: 200px;

      background-image: url(getStart1.png) !important;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
    }

    .sectionTitle {
      padding: 0;
      color: #2A2A2A;
      font-weight: bold;
      font-size: 18px;
    }
  </style>
</head>


<body onload="manageData()">
  <header>
    <div class="header-container">
      <div class="header-top">
        <!-- Logo -->
        <div class="header-logo"><a id="asu-hdr-full-logo" href="https://www.asu.edu/" target="_top"><img
              alt="Arizona State University"
              src="https://www.asu.edu/asuthemes/4.9/assets/arizona-state-university-logo.png"></a></div>
        <div class="header-nav">
          <ul>
            <!-- This will have first set of LIs which are main menu items and then those LIs will have further ULs and submenus -->
            <li class="nav-item"><a href="https://www.asu.edu/" class="drop-item" target="_top" id="main_menu_items">ASU
                Home</a>

              <div class="dropdown-content">
                <a href="https://www.asu.edu/?feature=newsevents" target="_top" title="News and Events">News/Events</a>
                <a href="https://www.asu.edu/?feature=academics" target="_top" title="Academics">Academics</a>
                <a href="https://www.asu.edu/?feature=research" target="_top" title="Research">Research</a>
                <a href="https://www.asu.edu/?feature=athletics" target="_top" title="Athletics">Athletics</a>
                <a href="https://www.asu.edu/?feature=alumni" target="_top" title="Alumni">Alumni</a>
                <a href="https://www.asu.edu/?feature=giving" target="_top" title="Giving">Giving</a>
                <a href="https://www.asu.edu/?feature=president" target="_top" title="President">President</a>
                <a href="https://www.asu.edu/about" target="_top" title="About ASU">About ASU</a>
              </div>

            </li>
            <li class="nav-item"><a href="https://my.asu.edu/" class="nav-link-item" target="_top">My ASU</a></li>
            <li class="nav-item"><a href="https://www.asu.edu/colleges/" class="drop-item" target="_top"
                id="menu_main">Colleges and Schools</a>

              <div class="dropdown-content">
                <a href="https://artsandsciences.asu.edu/" target="_top" title="Arts and Sciences website">Arts and
                  Sciences</a>
                <a href="https://wpcarey.asu.edu/" target="_top"
                  title="W. P. Carey School of Business Web and Morrison School of Agribusiness website">Business</a>
                <a href="https://herbergerinstitute.asu.edu" target="_top"
                  title="Herberger Institute for Design and the Arts website">Design and the Arts</a>
                <a href="https://education.asu.edu/" target="_top"
                  title="Mary Lou Fulton Teachers College website">Education</a>
                <a href="https://engineering.asu.edu/" target="_top" title="Engineering website">Engineering</a>
                <a href="https://sfis.asu.edu/" target="_top" title="Future of Innovation in Society website">Future of
                  Innovation in Society</a>
                <a href="https://graduate.asu.edu" target="_top" title="Graduate College website">Graduate</a>
                <a href="https://chs.asu.edu/" target="_top" title="Health Solutions website">Health Solutions</a>
                <a href="https://honors.asu.edu/" target="_top" title="Barrett, The Honors College website">Honors</a>
                <a href="https://cronkite.asu.edu" target="_top"
                  title="Walter Cronkite School of Journalism and Mass Communication website">Journalism</a>
                <a href="https://www.law.asu.edu/" target="_top"
                  title="Sandra Day O' Connor College of Law website">Law</a>
                <a href="https://nursingandhealth.asu.edu/" target="_top"
                  title="College of Nursing and Health Innovation website">Nursing and Health Innovation</a>
                <a href="https://copp.asu.edu" target="_top" title="College of Public Programs website">Public Service
                  and
                  Community Solutions</a>
                <a href="https://schoolofsustainability.asu.edu" target="_top"
                  title="School of Sustainability website">Sustainability</a>
                <a href="https://uc.asu.edu/" target="_top" title="University College website">University College</a>
                <a target="_top" href="https://thunderbird.asu.edu/"
                  title="Thunderbird School of Global Management website">Thunderbird School of Global Management</a>
              </div>

            </li>
            <li class="nav-item"><a href="https://www.asu.edu/map/" class="drop-item" target="_top">Map and
                Locations</a>

              <div class="dropdown-content">
                <a href="https://www.asu.edu/map/" target="_top">Map</a>
                <a href="https://campus.asu.edu/tempe/" target="_top" title="Tempe campus">Tempe</a>
                <a href="https://campus.asu.edu/west/" target="_top" title="West campus">West</a>
                <a href="https://campus.asu.edu/polytechnic/" target="_top" title="Polytechnic campus">Polytechnic</a>
                <a href="https://campus.asu.edu/downtown/" target="_top" title="Downtown Phoenix campus">Downtown
                  Phoenix</a>
                <a href="https://asuonline.asu.edu/" target="_top" title="Online and Extended campus">Online and
                  Extended</a>
                <a class="border" href="https://havasu.asu.edu/" target="_top">Lake Havasu</a>
                <a href="https://corporate.asu.edu/" target="_top">Corporate Engagement and Strategic Partnerships</a>
                <a href="https://asuresearchpark.com/" target="_top">Research Park</a>
                <a href="https://washingtoncenter.asu.edu/" target="_top">Washington D.C.</a>
                <a href="https://wpcarey.asu.edu/mba/china-program/english/" target="_top">China</a>
              </div>

            </li>
            <li class="nav-item"><a href="https://isearch.asu.edu/" class="nav-link-item" target="_top"
                title="Directory, Index and other info">Directory</a></li>
            <li class="nav-item"><a href="https://weblogin.asu.edu/cgi-bin/login"
                onclick="this.href=ASUHeader.alterLoginHref(this.href);"
                onfocus="this.href=ASUHeader.alterLoginHref(this.href);"
                onmouseover="this.href=ASUHeader.alterLoginHref(this.href);" target="_top">Sign In</a></li>
          </ul>
          <div class="header-search">
            <form target="_top" action="https://search.asu.edu/search" method="get" name="gs" role="search"><label
                for="masu_search_box">Search</label><input name="site" type="hidden" value="default_collection"><input
                name="sort" type="hidden" value="date:D:L:d1"><input name="output" type="hidden"
                value="xml_no_dtd"><input name="proxystylesheet" type="hidden" value="asu_frontend"><input name="ie"
                type="hidden" value="UTF-8"><input name="oe" type="hidden" value="UTF-8"><input name="client"
                type="hidden" value="asu_frontend"><input name="q" class="asu_search_box" id="masu_search_box"
                placeholder="Search" autocomplete="off" type="text"><input class="asu_search_button" type="submit"
                value="Search"></form>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <p>ASUXR</p>
      </div>
    </div>
  </header>


  <div id="asuxr_header" class="container-fluid">
    <div class="container">
      <div class="d-flex flex-row">
        <div class="p-2">
          <div class="asuxr_header_link">
            <a href="#"> <i style="color: #FFC627" class="fas fa-home"></i> </a>
          </div>
        </div>
        <!-- <div class="p-2">
            <div class="asuxr_header_link">
              <a href="#">XR Search <i class="fas fa-search"></i></a>
            </div> 
          </div> -->
        <!-- <div class="p-2">
            <div class="asuxr_header_link">
              <a href="#">Login</a>
            </div> 
          </div> -->
      </div>
    </div>
  </div>
  <div class="container-fluid hero_img_container" style="margin:0;padding:0">
    <img id="hero_img" src="homehero.png">
  </div>


  <!------ END OF HEADERS ----->

  <!-- INTRODUCTION -->

  <div id="intro" class="container-fluid">
    <div class="row justify-content-center mt-4 mb-4">
      <div class="col-12">
        <div style="font-weight: 900; font-size: 36px; text-align: center;">What is XR@ASU?</div>
      </div>
      <div class="col-12 mt-4">
        <div style="margin: 0px 20px 0 20px; display: flex; justify-content: center;">
          <div class="loremText" style="width: 541px; text-align: center">Lorem ipsum dolor sit amet, consetetur
            sadipscing
            elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliqyam erat, sed diam
            voluptua. At
            vero eos et accusam et justo</div>
        </div>
      </div>
      <div class="col-12" style="margin-top:-5%; margin-bottom: 100px; padding:0">
        <img src="gold-waves-02.svg">
      </div>

      <!-- <div class="col">
            <div style="margin: 0px 20px 0px 20px; display: flex; justify-content: center;">
                <div style="border-top: 5px solid #FFC627; width: 200px"></div>
            </div>
        </div>
          -->
    </div>
  </div>

  <!-- Experiences -->
  <div class="container mt-4">
    <div class="row">
      <div class="col-3">
        <div class="mb-4"
          style="background-color:#000; color:#FFF; height: 70px; margin-left: 0px; font-size: 30px; text-align: center; padding: 15px 0;">
          Experiences</div>
      </div>
    </div>
    <div class="row">
      <!-- Experience card-->
      <div class="col-sm-2 col-md-4">
        <button id="experienceCard0" class="experienceCard">
          <div class="card mb-4 shadow-sm">
            <div class="img-hover-zoom">
              <img class="bd-placeholder-img card-img-top" id="item-image0" width="100%" height="225"
                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                aria-label="Placeholder: Thumbnail">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="100%" y="100%" fill="#eceeef"
                dy=".3em"></text></svg>
            </div>
            <h5 class="itemtype" id="itemtype0">Type</h5>
            <div class="card-body">
              <h5 class="card-title" id="itemname0">Title</h5>
              <div class="row">
                <div class="col-10">
                  <div class="card-subtitle mb-2 text-muted ellipsis" style="font-size:70%" id="itemdesc0">This is a
                    wider card
                    with supporting text below as a natural lead-in to additional content. This content is a little bit
                    longer.</div>
                </div>
                <div class="col-2">
                  <a id="productlink0" href="#" class="nextBtn"><i class="fas fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
            <div class="card-footer bg-warning"></div>
          </div>
        </button>
      </div>
      <!-- Experience card-->
      <div class="col-sm-2 col-md-4">
        <button id="experienceCard1" class="experienceCard">
          <div class="card mb-4 shadow-sm">
            <div class="img-hover-zoom">
              <img class="bd-placeholder-img card-img-top" id="item-image1" width="100%" height="225"
                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                aria-label="Placeholder: Thumbnail">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="100%" y="100%" fill="#eceeef"
                dy=".3em"></text></svg>
            </div>
            <h5 class="itemtype" id="itemtype1">Type</h5>
            <div class="card-body">
              <h5 class="card-title" id="itemname1">Title</h5>
              <div class="row">
                <div class="col-10">
                  <div class="card-subtitle mb-2 text-muted ellipsis" style="font-size:70%" id="itemdesc1">This is a
                    wider card
                    with supporting text below as a natural lead-in to additional content. This content is a little bit
                    longer.</div>
                </div>
                <div class="col-2">
                  <a id="productlink1" href="#" class="nextBtn"><i class="fas fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
            <div class="card-footer bg-warning">
            </div>
          </div>
        </button>
      </div>
      <!-- Experience card-->
      <div class="col-sm-2 col-md-4">
        <button id="experienceCard2" class="experienceCard">

          <div class="card mb-4 shadow-sm">
            <div class="img-hover-zoom">
              <img class="bd-placeholder-img card-img-top" id="item-image2" width="100%" height="225"
                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                aria-label="Placeholder: Thumbnail">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                dy=".3em"></text></svg>
            </div>
            <h5 class="itemtype" id="itemtype2">Type</h5>
            <div class="card-body">
              <h5 class="card-title" id="itemname2">Title</h5>
              <div class="row">
                <div class="col-10">
                  <div class="card-subtitle mb-2 text-muted ellipsis" style="font-size:70%" id="itemdesc2">This is a
                    wider card
                    with supporting text below as a natural lead-in to additional content. This content is a little bit
                    longer.</div>
                </div>
                <div class="col-2">
                  <a id="productlink2" href="#" class="nextBtn"><i class="fas fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
            <div class="card-footer bg-warning">
            </div>
          </div>
        </button>
      </div>
      <!-- Experience card-->
      <div class=" col-sm-2 col-md-4">
        <button id="experienceCard3" class="experienceCard">

          <div class="card mb-4 shadow-sm rounded">
            <div class="img-hover-zoom">
              <img class="bd-placeholder-img card-img-top rounded" id="item-image3" width="100%" height="225"
                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                aria-label="Placeholder: Thumbnail">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                dy=".3em"></text></img>
            </div>
            <h5 class="itemtype" id="itemtype3">Type</h5>
            <div class="card-body rounded">
              <h5 class="card-title" id="itemname3">Title</h5>
              <div class="row">
                <div class="col-10">
                  <div class="card-subtitle mb-2 text-muted ellipsis" style="font-size:70%" id="itemdesc3">This is a
                    wider card
                    with supporting text below as a natural lead-in to additional content. This content is a little bit
                    longer.</div>
                </div>
                <div class="col-2">
                  <a id="productlink3" href="#" class="nextBtn"><i class="fas fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
            <div class="card-footer bg-warning"></div>
          </div>
        </button>
      </div>
      <!-- Experience card-->
      <div class="col-sm-2 col-md-4">
        <button id="experienceCard4" class="experienceCard">
          <div class="card mb-4 shadow-sm">
            <div class="img-hover-zoom">
              <img class="bd-placeholder-img card-img-top" id="item-image4" width="100%" height="225"
                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                aria-label="Placeholder: Thumbnail">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="100%" y="100%" fill="#eceeef"
                dy=".3em"></text></svg>
            </div>
            <h5 class="itemtype" id="itemtype4">Type</h5>
            <div class="card-body">
              <h5 class="card-title" id="itemname4">Title</h5>
              <div class="row">
                <div class="col-10">
                  <div class="card-subtitle mb-2 text-muted ellipsis" style="font-size:70%" id="itemdesc4">This is a
                    wider card
                    with supporting text below as a natural lead-in to additional content. This content is a little bit
                    longer.</div>
                </div>
                <div class="col-2">
                  <a id="productlink4" class="nextBtn" href="#"><i class="fas fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
            <div class="card-footer bg-warning"></div>
          </div>
        </button>
      </div>
    </div>
  </div>



  <!-- <div style="text-align: center;">
      <button type="button" class="btn btn-dark text-center">View all</button>
    </div>
   -->


  <!--Getting Started-->
  <div id="gettingstarted" class="container" style="margin-bottom: 100px; margin-top: 100px">
    <div class="row justify-content-center">
      <div class="col-12 mb-4">
        <div style="font-weight: 900; font-size: 36px; text-align: center;">Getting Started</div>
      </div>
      <div class="col-12 mb-4">
        <div style="margin: 0px 20px 20px 20px; display: flex; justify-content: center;">
          <div class="loremText" style="width: 541px; text-align: center">Lorem ipsum dolor sit amet, consetetur
            sadipscing
            elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliqyam erat, sed diam
            voluptua. At
            vero eos et accusam et justo</div>
        </div>
      </div>
      <div class="col-3">
        <div style="margin: 0px 20px 0px 20px; display: flex; justify-content: center;">
          <div style="border-top: 5px solid #FFC627; width: 100px;"></div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-sm-12 col-md-3 capsule">
        <img src="gettingstarted1.png" class="card-img-top" tyle="width: 100%;">
        <div class="card-body">
          <h3 class="card-title sectionTitle">Get your phone</h3>
          <p class="card-text similarSubtitle" style="line-height: 1.5; font-size: 16px; text-align: center;">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 capsule">
        <img src="gettingstarted2.png" class="card-img-top" alt="..." style="width: 100%">
        <div class="card-body">
          <h3 class="card-title sectionTitle">Find your experience</h3>
          <p class="card-text similarSubtitle" style="line-height: 1.5; font-size: 16px; text-align: center;">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore.
          </p>

        </div>
      </div>
      <div class="col-sm-12 col-md-3 capsule">
        <img src="gettingstarted3.png" class="card-img-top" alt="..." style="width: 100%;">
        <div class="card-body">
          <h3 class="card-title sectionTitle">Immerse Yourself</h3>
          <p class="card-text similarSubtitle" style="line-height: 1.5; font-size: 16px; text-align: center;">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore.
          </p>
        </div>
      </div>
    </div>
  </div>


  <!----------------->

  <!-------------------->

  </div>


  </div>

  <footer>
    <div class="footer">

      <div class="footer_content">
        <div class="footer_content_logo"><a id="asu-hdr-full-logo" href="https://www.asu.edu/" target="_top"><img
              alt="Arizona State University" class="logo" src="abc.svg"></a></div>

        <div class="footer_content_links">
          <ul style="list-style: none;">
            <li><a href="#">Home</a></li>
            <li><a href="#">XR Search</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>

        <div class="footer_content_button">
          <button class="upload-button" type="button" name="button">Upload</button>
        </div>
      </div>
      <div class="footer_bottom">

        <div class="footer_bottom_img">
          <img src="91d8b908-f1fc-457e-a744-dd414ab2409e.png" alt="ASU">
        </div>

        <div class="footer_bottom_text">
          ASU is #1 in the U.S. for Innovation
        </div>

      </div>

      <div class="footer_bot">
        <a href="#">Copyright and Trademark</a>
        <a href="#">Accessibility</a>
        <a href="#">Privacy</a>
        <a href="#">Terms of use</a>
        <a href="#">Jobs</a>
        <a href="#">Emergency</a>
        <a href="#">Contact ASU</a>

      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>

  <script src="asyncReq.js"></script>

  <script>
    function incrementValue() {
      page++;
      manageData();
    }
    function manageData() {
      loadFile("./showDatasetTable", function (result) {
        // show a table of the user's datasets
        var data = JSON.parse(result);
        var totalItemsCount = data.length;
        var numberOfItemsPerPage = 5;
        var numberOfPages = Math.floor((totalItemsCount + numberOfItemsPerPage - 1) / numberOfItemsPerPage);
        var start = (page * numberOfItemsPerPage) - (numberOfItemsPerPage - 1);
        var end = Math.min(start + numberOfItemsPerPage - 1, totalItemsCount);

        console.log(data[0]);
        for (var i = 0; i < numberOfItemsPerPage; i++) {
          var name = data[i].name;
          var desc = data[i].description;
          var image = data[i].thumbnail;
          var type = data[i].experienceType;
          var id = data[i]._id;

          // Set details for each experience
          document.getElementById("experienceCard" + i).onclick = function () { location.href = "http://xr.asu.edu/productpage?=" + id; }
          document.getElementById("item-image" + i).src = image;
          document.getElementById("itemname" + i).innerHTML = name;
          document.getElementById("itemdesc" + i).innerHTML = desc;
          document.getElementById("itemtype" + i).innerHTML = type;
          document.getElementById("productlink" + i).href = "http://xr.asu.edu/productpage?=" + id;
        }
      });
    }
    // function findData() {
    //   var search = document.getElementById("search").value;
    //   loadFile("./findDatasetTable?search=" + search, function (result) {
    //     // show a table of the user's datasets
    //     var data = JSON.parse(result);
    //     var totalItemsCount = data.length;
    //     console.log(totalItemsCount);
    //     // var numberOfItemsPerPage = 5;
    //     // var numberOfPages = Math.floor((totalItemsCount + numberOfItemsPerPage - 1) / numberOfItemsPerPage);
    //     // var start = (page * numberOfItemsPerPage) - (numberOfItemsPerPage - 1);
    //     // var end = Math.min(start + numberOfItemsPerPage - 1, totalItemsCount);

    //     for (var i = 0; i < 5; i++) {
    //       var name = data[i].name;
    //       var desc = data[i].description;
    //       var image = data[i].thumbnail;
    //       document.getElementById("item-image" + i).src = image;

    //       // var row3 = document.createElement("image2");
    //       // row3.src = image;

    //       document.getElementById("itemname" + i).innerHTML = name;
    //       document.getElementById("itemdesc" + i).innerHTML = desc;
    //     }
    //   });
    // }
    $(document).ready(function () {
      var url = window.location.href;
      var n = url.lastIndexOf('/');
      var href = url.substring(n + 1);
      console.log(href);
      //console.log(window.location.href.split('/')[1]);
      if (href == "#loginBtn") {
        showLoginForm();
      } else if (href == "#signinBtn") {
        showSignupForm();
      }
      $("#loginBtn").click(function () {
        showLoginForm();
      });
      $("#signupBtn").click(function () {
        showSignupForm();
      });
      var password = document.getElementById("password"),
        confirm_password = document.getElementById("confirm_password");
      function validatePassword() {
        if (password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords do not match");
        } else if (password.value.length < 6) {
          confirm_password.setCustomValidity("Password must be six digits");
        } else {
          confirm_password.setCustomValidity('');
        }
      }
      if (password != null) {
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;

      }
    });
    const rmCheck = document.getElementById("rememberMe"),
      emailInput = document.getElementById("email");
    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
  </script>
</body>






</html>