<!DOCTYPE html>
<html>
   <head>
      <title>Search XR</title>
      <script type="text/javascript" src="Script.js"></script>
      <link rel="stylesheet" type="text/css" href="searchXR.css">

   </head>
   <body>
		 <div class="header">
      <div id="asu_hdr" class="asu_hdr_white_chrome">
         <div id="asu_mobile_hdr">
            <div class="asu_mobile_hdr_wrapper">
               <div id="logo_img"><a id="asu-hdr-full-logo" href="https://www.asu.edu/" target="_top"><img alt="Arizona State University" id="logo_img" src="https://www.asu.edu/asuthemes/4.9/assets/arizona-state-university-logo.png"></a><!--<a id="asu-hdr-mobile-logo" href="https://www.asu.edu/" target="_top"> <img alt="Arizona State University" src="https://www.asu.edu/asuthemes/4.9/assets/asu-logo.png"></a>--></div>

		<div id = "belowimagetext">ASU XR </div>
		<div id = "background3"></div>
		<div id = "weblinks"></div>
 		            </div>
         </div>
<-----IMAGE CSS GOES HERE----->
<div id="mainimage" id="search_new" onclick="javascript:ASUHeader.toggleASU('main-search');" style="display: inherit !important;"></div>
		  <div id="rectabovexr"> </div>
		  <div id="whatisxrasu"> What is XR@ASU? </div>
		  <div id="whatisxrblurb"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliqyam erat, sed diam voluptua. At vero eos et accusam et justo </div>
		  <div id="yellowbit">------------ </div>
		  <div id="searchxp">
			<div id ="searchbar"> 
			<div id ="searchbartext">
			Search XR Experiences
			</div>
			</div>
		  </div>
			
		 <div id = "mainxr"> "ded" </div>
		 
                  <div id="asu_nav_menu" role="navigation" aria-labelledby="asuNavLabel">
                     <span class="sr-only" id="asuNavLabel">
                     Navigation for Entire University
                     </span>
                     <div id="asu_universal_nav_new">
                        <ul>
                           <li class="tlb site_title"><span></span></li>
                           <li class="tlb">
                              <div id="text2">ASUXR</div>
                              <div id="f-user" class="icn f-user"></div>
                           </li>
                           <li class="tlb">
                              <div class="icn f-sort-down"></div>
                           </li>
                           <li class="clb closed" id="a_li">
                              <ul>                       
                                    <li class="cb">
                                    <div class="icn2 f-sort-down"></div>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div id="asu_search">
                  <div id="asu_search_module" class="asu_search_module" name="asu_search_module">
                  </div>
               </div>
            </div>
         </div>
      </div>
			</div>
          <img src="searchiconsolid.svg" id="searchicon" alt="Q">
      <br><br>
         </body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script src="asyncReq.js"></script>

</html>