<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NBVHVWJ');
    </script>
    <!-- End Google Tag Manager -->


    <meta charset="utf-8">
    <title>XR@ASU | Arizona State University</title>
    <link rel="icon" href="favicon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">


    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-VhBcF/php0Z/P5ZxlxaEx1GwqTQVIBu4G4giRWxTKOCjTxsPFETUDdVL5B6vYvOt" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Header CSS -->
    <link href="css/header.css" rel="stylesheet">

    <!-- Footer CSS -->
    <link href="css/footer.css" rel="stylesheet">

    <!-- Home CSS -->
    <link href="css/index.css" rel="stylesheet">

    <script>
        var error = "";
        var error2 = "";
        var error3 = "";
        var page = 1;

        var deviceType;
        var isMobile;

        function detectDevice() {
            if (navigator.userAgent.match(/Android/i) ||
                navigator.userAgent.match(/webOS/i) ||
                navigator.userAgent.match(/iPhone/i) ||
                navigator.userAgent.match(/iPad/i) ||
                navigator.userAgent.match(/iPod/i) ||
                navigator.userAgent.match(/BlackBerry/i) ||
                navigator.userAgent.match(/Windows Phone/i)) {
                isMobile = true;
            } else {
                isMobile = false;
            }

            deviceType = navigator.userAgent;
            consle.log(deviceType);

        }

        window.onload = function() {
            detectDevice()
        }
    </script>
</head>


<body onload="manageData()">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBVHVWJ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- ASU HEADER -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header-top">
                    <!-- Logo -->
                    <div class="header-logo">
                        <a href="https://www.asu.edu/" target="_top"><img id="asuLogo" alt="Arizona State University" src="https://www.asu.edu/asuthemes/4.9/assets/arizona-state-university-logo.png"></a>
                    </div>
                    <!-- hamburger menu for mobile -->
                    <nav id="mobileNavbar" class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item"><a href="https://www.asu.edu/" class="drop-item" target="_top" id="main_menu_items">ASU Info
                                    <img src="caret-down.svg"></a>

                                    <div class="dropdown-content">
                                        <a href="https://www.asu.edu/?feature=newsevents" target="_top" title="News and Events">News/Events</a>
                                        <a href="https://www.asu.edu/?feature=academics" target="_top" title="Academics">Academics</a>
                                        <a href="https://www.asu.edu/?feature=research" target="_top" title="Research">Research</a>
                                        <a href="https://www.asu.edu/?feature=athletics" target="_top" title="Athletics">Athletics</a>
                                        <a href="https://www.asu.edu/?feature=alumni" target="_top" title="Alumni">Alumni</a>
                                        <a href="https://www.asu.edu/?feature=giving" target="_top" title="Giving">Giving</a>
                                        <a href="https://www.asu.edu/?feature=president" target="_top" title="President">President</a>
                                        <a href="https://www.asu.edu/about" target="_top" title="About ASU">About ASU</a>
                                    </div>

                                </li>
                                <li class="nav-item"><a href="https://my.asu.edu/" class="nav-link-item" target="_top">My
                                ASU</a></li>
                                <li class="nav-item"><a href="https://www.asu.edu/colleges/" class="drop-item" target="_top" id="menu_main">Colleges and Schools
                                    <img src="caret-down.svg"></a>

                                    <div class="dropdown-content">
                                        <a href="https://www.asu.edu/map/" target="_top">Map</a>
                                        <a href="https://campus.asu.edu/tempe/" target="_top" title="Tempe campus">Tempe</a>
                                        <a href="https://campus.asu.edu/west/" target="_top" title="West campus">West</a>
                                        <a href="https://campus.asu.edu/polytechnic/" target="_top" title="Polytechnic campus">Polytechnic</a>
                                        <a href="https://campus.asu.edu/downtown/" target="_top" title="Downtown Phoenix campus">Downtown
                                    Phoenix</a>
                                        <a href="https://asuonline.asu.edu/" target="_top" title="Online and Extended campus">Online and
                                    Extended</a>
                                        <a href="https://havasu.asu.edu/" target="_top">Lake Havasu</a>
                                        <a href="https://corporate.asu.edu/" target="_top">Corporate Engagement and
                                    Strategic Partnerships</a>
                                        <a href="https://asuresearchpark.com/" target="_top">Research Park</a>
                                        <a href="https://washingtoncenter.asu.edu/" target="_top">Washington D.C.</a>
                                        <a href="https://wpcarey.asu.edu/mba/china-program/english/" target="_top">China</a>
                                    </div>

                                </li>
                                <li class="nav-item"><a href="https://www.asu.edu/map/" class="drop-item" target="_top">Map
                                and Locations
                                <img src="caret-down.svg"></a>

                                    <div class="dropdown-content">
                                        <a href="https://www.asu.edu/map/" target="_top">Map</a>
                                        <a href="https://campus.asu.edu/tempe/" target="_top" title="Tempe campus">Tempe</a>
                                        <a href="https://campus.asu.edu/west/" target="_top" title="West campus">West</a>
                                        <a href="https://campus.asu.edu/polytechnic/" target="_top" title="Polytechnic campus">Polytechnic</a>
                                        <a href="https://campus.asu.edu/downtown/" target="_top" title="Downtown Phoenix campus">Downtown
                                    Phoenix</a>
                                        <a href="https://asuonline.asu.edu/" target="_top" title="Online and Extended campus">Online and
                                    Extended</a>
                                        <a href="https://havasu.asu.edu/" target="_top">Lake Havasu</a>
                                        <a href="https://corporate.asu.edu/" target="_top">Corporate Engagement and
                                    Strategic Partnerships</a>
                                        <a href="https://asuresearchpark.com/" target="_top">Research Park</a>
                                        <a href="https://washingtoncenter.asu.edu/" target="_top">Washington D.C.</a>
                                        <a href="https://wpcarey.asu.edu/mba/china-program/english/" target="_top">China</a>
                                    </div>

                                </li>
                                <li class="nav-item"><a href="https://isearch.asu.edu/" class="nav-link-item" target="_top" title="Directory, Index and other info">Directory</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- desktop menu -->
                    <div class="header-nav">
                        <ul>
                            <!-- This will have first set of LIs which are main menu items and then those LIs will have further ULs and submenus -->
                            <li class="nav-item"><a href="https://www.asu.edu/" class="drop-item" target="_top" id="main_menu_items">ASU Home
                                    <img src="caret-down.svg"></a>

                                <div class="dropdown-content">
                                    <a href="https://www.asu.edu/?feature=newsevents" target="_top" title="News and Events">News/Events</a>
                                    <a href="https://www.asu.edu/?feature=academics" target="_top" title="Academics">Academics</a>
                                    <a href="https://www.asu.edu/?feature=research" target="_top" title="Research">Research</a>
                                    <a href="https://www.asu.edu/?feature=athletics" target="_top" title="Athletics">Athletics</a>
                                    <a href="https://www.asu.edu/?feature=alumni" target="_top" title="Alumni">Alumni</a>
                                    <a href="https://www.asu.edu/?feature=giving" target="_top" title="Giving">Giving</a>
                                    <a href="https://www.asu.edu/?feature=president" target="_top" title="President">President</a>
                                    <a href="https://www.asu.edu/about" target="_top" title="About ASU">About ASU</a>
                                </div>

                            </li>
                            <li class="nav-item"><a href="https://my.asu.edu/" class="nav-link-item" target="_top">My
                                    ASU</a></li>
                            <li class="nav-item"><a href="https://www.asu.edu/colleges/" class="drop-item" target="_top" id="menu_main">Maps and Locations

                                <div class="dropdown-content">
                                    <a href="https://www.asu.edu/map/" target="_top">Map</a>
                                <a href="https://campus.asu.edu/tempe/" target="_top" title="Tempe campus">Tempe</a>
                                <a href="https://campus.asu.edu/west/" target="_top" title="West campus">West</a>
                                <a href="https://campus.asu.edu/polytechnic/" target="_top" title="Polytechnic campus">Polytechnic</a>
                                <a href="https://campus.asu.edu/downtown/" target="_top" title="Downtown Phoenix campus">Downtown
                                        Phoenix</a>
                                <a href="https://asuonline.asu.edu/" target="_top" title="Online and Extended campus">Online and
                                        Extended</a>
                                <a href="https://havasu.asu.edu/" target="_top">Lake Havasu</a>
                                <a href="https://corporate.asu.edu/" target="_top">Corporate Engagement and
                                        Strategic Partnerships</a>
                                <a href="https://asuresearchpark.com/" target="_top">Research Park</a>
                                <a href="https://washingtoncenter.asu.edu/" target="_top">Washington D.C.</a>
                                <a href="https://wpcarey.asu.edu/mba/china-program/english/" target="_top">China</a>
                    </div>

                    </li>
                    <li class="nav-item"><a href="https://www.asu.edu/map/" class="drop-item" target="_top">Map
                                    and Locations
                                    <img src="caret-down.svg"></a>

                        <div class="dropdown-content">
                            <a href="https://www.asu.edu/map/" target="_top">Map</a>
                            <a href="https://campus.asu.edu/tempe/" target="_top" title="Tempe campus">Tempe</a>
                            <a href="https://campus.asu.edu/west/" target="_top" title="West campus">West</a>
                            <a href="https://campus.asu.edu/polytechnic/" target="_top" title="Polytechnic campus">Polytechnic</a>
                            <a href="https://campus.asu.edu/downtown/" target="_top" title="Downtown Phoenix campus">Downtown
                                        Phoenix</a>
                            <a href="https://asuonline.asu.edu/" target="_top" title="Online and Extended campus">Online and
                                        Extended</a>
                            <a href="https://havasu.asu.edu/" target="_top">Lake Havasu</a>
                            <a href="https://corporate.asu.edu/" target="_top">Corporate Engagement and
                                        Strategic Partnerships</a>
                            <a href="https://asuresearchpark.com/" target="_top">Research Park</a>
                            <a href="https://washingtoncenter.asu.edu/" target="_top">Washington D.C.</a>
                            <a href="https://wpcarey.asu.edu/mba/china-program/english/" target="_top">China</a>
                        </div>

                    </li>
                    <li class="nav-item"><a href="https://isearch.asu.edu/" class="nav-link-item" target="_top" title="Directory, Index and other info">Directory</a></li>
                    </ul>
                    <div>
                        <form target="_top" action="https://search.asu.edu/search" method="get" name="gs" role="search"><label for="masu_search_box"></label><input name="site" type="hidden" value="default_collection"><input name="sort" type="hidden" value="date:D:L:d1"><input name="output" type="hidden" value="xml_no_dtd"><input name="proxystylesheet"
                                type="hidden" value="asu_frontend"><input name="ie" type="hidden" value="UTF-8"><input name="oe" type="hidden" value="UTF-8"><input name="client" type="hidden" value="asu_frontend"><input name="q" class="header-search" placeholder="Search"
                                autocomplete="off" type="text"><input class="header-search-button" type="submit" value=""></form>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <span class="header-title"><a href="/">XR@ASU</a></span>
            </div>
        </div>
    </div>

    </div>
    <!-- END OF ASU HEADER -->

    <!-- ASU XR HEADER -->
    <div class="container-fluid header-2-container">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col" id="xrNav">
                            <ul class="navbar-container">
                                <li>
                                    <a class="navbar-link" href="https://xr.asu.edu"> <object type="image/svg+xml" data="homeicon.svg" id="nav-home"></object></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col" id="xrNavMobile">
                            <ul class="navbar-container">
                                <div id="homeLinkMobile" class="navbar-link">XR@ASU</div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------ END OF HEADERS ----->


    <!-- HERO IMAGE -->
    <div class="container-fluid hero_img_container" style="margin:0;padding:0">
        <img id="hero_img" src="homehero.png">
    </div>


    <!-- INTRODUCTION -->

    <div id="intro" class="container-fluid mt-4">
        <div class="row justify-content-center mb-4">
            <div class="col-12">
                <div style="font-weight: 900; font-size: 36px; text-align: center; font-family: 'Roboto', sans-serif;">
                    Welcome to XR@ASU!</div>
            </div>
            <div class="col-12 mt-4">
                <div style="margin: 0px 20px 0 20px; display: flex; justify-content: center;">
                    <div class="loremText" style="width: 541px; text-align: center">Find and enjoy immersive learning experiences created for ASU learners by ASU students, staff and faculty.
                        <div style="margin: 0px 20px 0px 20px; display: flex; justify-content: center;">
                            <div class="mt-4" style="border-top: 5px solid #FFC627; width: 100px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" style="margin-top:-50px; margin-bottom: 50px; padding:0">
                <img src="gold-waves-02.svg" style="width:100%;">
            </div>
        </div>
    </div>

    <!-- EXPERIENCES -->
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <div class="mb-4" style="font-weight: 900; font-size: 36px; text-align: center;justify-content:center; font-family: 'Roboto', sans-serif;">
                    Explore
                    <div style="margin: 0px 20px 0px 20px; display: flex; justify-content: center;">
                        <div class="mb-4 mt-2" style="border-top: 5px solid #FFC627; width: 100px"></div>
                    </div>
                </div>

            </div>
        </div>
        <!-- featured experience -->
        <div class="row">
            <div class="col-12">
                <button id="experienceCard0" class="experienceCard">
                    <div class="mb-4 shadow-sm featuredCardImage">
                        <div class="img-hover-zoom featuredCardImage">
                            <img style="object-fit: cover" class="bd-placeholder-img card-img-top" id="item-image0" height="100%"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                                <div class="gradient-black"></div>
                                <div class="top-left background-white featured-exp-text">
                                    <div class="text-black text-align-left featured-itemtype" id="itemtype0"></div>
                                    <div class="text-black text-align-left featured-exp-title" id="itemname0"></div>
                                </div>
                                <div class="ellipsis ellipsis-featured text-align-left featured-desc" id="itemdesc0"></div>

                        </div>

                    </div>
                </button>
            </div>
        </div>
        <!-- other experiences -->
        <div class="row">
            <!-- Experience card-->
            <!-- <div class="col-sm-2 col-md-4">
                <button id="experienceCard0" class="experienceCard">
                    <div class="card mb-4 shadow-sm">
                        <div class="img-hover-zoom">
                            <img class="bd-placeholder-img card-img-top" id="item-image0" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                        </div>
                        <h5 class="itemtype" id="itemtype0"></h5>
                        <div class="card-body">
                            <h5 class="card-title" id="itemname0"></h5>
                            <div class="row">
                                <div class="col-10">
                                    <div class="card-subtitle mb-2 text-muted ellipsis" style="font-size:70%"
                                        id="itemdesc0"></div>
                                </div>
                            </div>
                            <div class="bottom_fill">
                            </div>
                        </div>
                    </div>
                </button>
            </div> -->
            <!-- Experience card-->
            <div class="col-sm-2 col-md-4">
                <button id="experienceCard1" class="experienceCard">
                    <div class="card mb-4 shadow-sm">
                        <div class="img-hover-zoom">
                            <img class="bd-placeholder-img card-img-top" id="item-image1" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                        </div>
                        <h5 class="itemtype" id="itemtype1"></h5>
                        <div class="card-body">
                            <h5 class="card-title" id="itemname1"></h5>
                            <div class="row">
                                <div class="col">
                                    <div class="card-subtitle mb-2 text-muted ellipsis" style="font-size:70%"
                                        id="itemdesc1"></div>
                                </div>
                            </div>
                            <div class="bottom_fill">
                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <!-- Experience card-->
            <div class="col-sm-2 col-md-4">
                <button id="experienceCard2" class="experienceCard">
                    <div class="card mb-4 shadow-sm">
                        <div class="img-hover-zoom">
                            <img class="bd-placeholder-img card-img-top" id="item-image2" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                        </div>
                        <h5 class="itemtype" id="itemtype2"></h5>
                        <div class="card-body">
                            <h5 class="card-title" id="itemname2"></h5>
                            <div class="row">
                                <div class="col">
                                    <div class="card-subtitle mb-2 text-muted ellipsis" style="font-size:70%"
                                        id="itemdesc2"></div>
                                </div>
                            </div>
                            <div class="bottom_fill">
                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <!-- Experience card-->
            <div class="col-sm-2 col-md-4">
                <button id="experienceCard3" class="experienceCard">
                    <div class="card mb-4 shadow-sm">
                        <div class="img-hover-zoom">
                            <img class="bd-placeholder-img card-img-top" id="item-image3" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                        </div>
                        <h5 class="itemtype" id="itemtype3"></h5>
                        <div class="card-body">
                            <h5 class="card-title" id="itemname3"></h5>
                            <div class="row">
                                <div class="col">
                                    <div class="card-subtitle mb-2 text-muted ellipsis" style="font-size:70%"
                                        id="itemdesc3"></div>
                                </div>
                            </div>
                            <div class="bottom_fill">
                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <!-- Experience card-->
            <div class="col-sm-2 col-md-4">
                <button id="experienceCard4" class="experienceCard">
                    <div class="card mb-4 shadow-sm">
                        <div class="img-hover-zoom">
                            <img class="bd-placeholder-img card-img-top" id="item-image4" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                        </div>
                        <h5 class="itemtype" id="itemtype4"></h5>
                        <div class="card-body">
                            <h5 class="card-title" id="itemname4"></h5>
                            <div class="row">
                                <div class="col">
                                    <div class="card-subtitle mb-2 text-muted ellipsis" style="font-size:70%"
                                        id="itemdesc4"></div>
                                </div>
                            </div>
                            <div class="bottom_fill">
                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <!-- Experience card-->
            <div class="col-sm-2 col-md-4">
                <button id="experienceCard5" class="experienceCard">
                    <div class="card mb-4 shadow-sm">
                        <div class="img-hover-zoom">
                            <img class="bd-placeholder-img card-img-top" id="item-image5" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                        </div>
                        <h5 class="itemtype" id="itemtype5"></h5>
                        <div class="card-body">
                            <h5 class="card-title" id="itemname5"></h5>
                            <div class="row">
                                <div class="col">
                                    <div class="card-subtitle mb-2 text-muted ellipsis" style="font-size:70%"
                                        id="itemdesc5"></div>
                                </div>
                            </div>
                            <div class="bottom_fill">
                            </div>
                        </div>
                    </div>
                </button>
            </div>
			
			            <!-- Experience card-->
            <div class="col-sm-2 col-md-4">
                <button id="experienceCard6" class="experienceCard">
                    <div class="card mb-4 shadow-sm">
                        <div class="img-hover-zoom">
                            <img class="bd-placeholder-img card-img-top" id="item-image6" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                        </div>
                        <h5 class="itemtype" id="itemtype6"></h5>
                        <div class="card-body">
                            <h5 class="card-title" id="itemname6"></h5>
                            <div class="row">
                                <div class="col-10">
                                    <div class="card-subtitle mb-2 text-muted ellipsis" style="font-size:70%"
                                        id="itemdesc6"></div>
                                </div>
                            </div>
                            <div class="bottom_fill">
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>

    <!--Getting Started-->
    <div class="container-fluid" style="padding:0;height:50px;margin-top:50px">
        <div class="row">
            <div class="col-12">
                <img src="goldwavescorner.svg">
            </div>
        </div>
    </div>
    <div id="gettingstarted" class="container" style="margin-bottom: 50px; margin-top: 80px">
        <div class="row justify-content-center">
            <div class="col-12 mb-4">
                <div style="font-weight: 900; font-size: 36px; text-align: center;">Get Started</div>
            </div>
            <div class="col-12 mb-4">
                <div style="margin: 0px 20px 20px 20px; display: flex; justify-content: center;">
                    <div class="loremText" style="width: 541px; text-align: center">Just follow these few simple steps and you will be ready to go.</div>
                </div>
            </div>
            <div class="col-12">
                <div style="margin: 0px 20px 0px 20px; display: flex; justify-content: center;">
                    <div style="border-top: 5px solid #FFC627; width: 100px;"></div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-sm-12 col-md-3 capsule">
                <img src="gettingstarted2.png" class="card-img-top" style="width: 100%">
                <div class="card-body">
                    <h3 class="card-title sectionTitle">Find your experience</h3>
                    <p class="card-text capsuleText">A full listing of the experiences can be found on the XR@ASU homepage. Click on the experience card to see more details and access the experience.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 capsule">
                <img src="getstarted-headset.png" class="card-img-top" tyle="width: 100%;">
                <div class="card-body">
                    <h3 class="card-title sectionTitle">Get your device</h3>
                    <p class="card-text capsuleText" style="">
                        Check the experience page for details on which device(s) the experience is compatible with. Compatible devices may include phones, laptops/desktops, and augmented/virtual reality headsets.
                    </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 capsule">
                <img src="getstarted-vrguy.png" class="card-img-top" alt="..." style="width: 100%;">
                <div class="card-body">
                    <h3 class="card-title sectionTitle">Immerse yourself</h3>
                    <p class="card-text capsuleText">
                        Follow the instructions on the experience page to load your experience on the right device. Then, enjoy!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid" style="background:#1e1e1e">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer_content">
                            <div class="footer_content_logo">
                                <a id="asu-hdr-full-logo" href="https://www.asu.edu/" target="_top"><img alt="Arizona State University" class="logo" src="abc.svg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="footer_content_links">
                        <ul style="list-style: none;">
                            <li><a href="/">Home</a></li>
                            <li><a href="https://weblogin.asu.edu/cas/login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="background:#FFC627;min-height:70px">
            <div class="container" style="height:70px">
                <div class="row">
                    <div class="col-sm-12 col-md-10">
                        <div class="goldbarText">
                            <a href="https://www.asu.edu/rankings">ASU is #1 in the U.S. for Innovation</a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div id="footer_bottom_img">
                            <a href="https://www.asu.edu/rankings">
                                <img src="91d8b908-f1fc-457e-a744-dd414ab2409e.png" alt="ASU">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="container">
                <div class="row footer_bot">
                    <div class="col-sm-12 col-md-2 footerBottomLinks">
                        <a class="" href="https://www.asu.edu/copyright/">Copyright and Trademark</a>
                    </div>
                    <div class="col-sm-12 col-md-2 footerBottomLinks">
                        <a href="https://www.asu.edu/accessibility/">Accessibility</a>
                    </div>
                    <div class="col-sm-12 col-md-2 footerBottomLinks">
                        <a href="https://www.asu.edu/tou/">Terms of use</a>
                    </div>
                    <div class="col-sm-12 col-md-2 footerBottomLinks">
                        <a href="https://www.asu.edu/asujobs/">Jobs</a>
                    </div>
                    <div class="col-sm-12 col-md-2 footerBottomLinks">
                        <a href="https://cfo.asu.edu/emergency">Emergency</a>
                    </div>
                    <div class="col-sm-12 col-md-2 footerBottomLinks">
                        <a href="https://contact.asu.edu/">Contact ASU</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>

    <script src="asyncReq.js"></script>

    <script>
        function incrementValue() {
            page++;
            manageData();
        }

        function manageData() {
            loadFile("./showDatasetTable", function(result) {
                // show a table of the user's datasets
                // sort alphabetically Z-A
                var data = JSON.parse(result).sort(function(a, b) {
                    var textA = a.name.toUpperCase();
                    var textB = b.name.toUpperCase();
                    return (textA > textB) ? -1 : (textA > textB) ? 1 : 0;
                });
					data = JSON.parse(result).sort(function(a, b) {
					        // true values first -
							//(in english) if x and y are strictly equal return 0, otherwise if x is true return -1 if not return 1
							var textA = a.name.toUpperCase();
							var textB = b.name.toUpperCase();
							var expA = a.featured;
							//alert(a.featured);
							var expB = b.featured;
							//alert(b.featured);
							if(expA == expB)
							{
								if(textA<textB)
								{
									return -1;
								}
							}
							return (expA === expB)? 0 : a? -1 : 1;
							
							// false values first
							// return (x === y)? 0 : x? 1 : -1;
				});
                var totalItemsCount = data.length;
                var numberOfItemsPerPage = 7;
                var numberOfPages = Math.floor((totalItemsCount + numberOfItemsPerPage - 1) / numberOfItemsPerPage);
                for (var i = 0; i < numberOfItemsPerPage; i++) {
				
                    var name = data[i].name;
                    var desc = data[i].description;
                    if (i > 0) {
                        var image = data[i].thumbnail;
                    } else {
                        var image = data[i].image;
                    }
                    var type = data[i].experienceType;
                    var id = data[i]._id;
                    var route = data[i].route;
                    // Set details for each experience
                    document.getElementById("item-image" + i).src = image;
                    document.getElementById("itemname" + i).innerHTML = name;
                    document.getElementById("itemdesc" + i).innerHTML = desc;
                    document.getElementById("itemtype" + i).innerHTML = type;
                    //alert(route);
                    if (route != "") {
                        document.getElementById("experienceCard" + i).onclick = goToProduct.bind(this, [route]);
                    } else {
                        //Redirect, set URL using ID - only should occur for pages with no route in DB
                        document.getElementById("experienceCard" + i).onclick = goToProduct.bind(this, [id]);
                    }
                }
            });
        }

        function goToProduct(product, event) {
            location.href = "/" + product;
        }
        $(document).ready(function() {
            setupNavBar();
            var url = window.location.href;
            var n = url.lastIndexOf('/');
            var href = url.substring(n + 1);
            console.log(href);
            //console.log(window.location.href.split('/')[1]);
            if (href == "#loginBtn") {
                showLoginForm();
            } else if (href == "#signinBtn") {
                showSignupForm();
            }
            $("#loginBtn").click(function() {
                showLoginForm();
            });
            $("#signupBtn").click(function() {
                showSignupForm();
            });
            var password = document.getElementById("password"),
                confirm_password = document.getElementById("confirm_password");

            function validatePassword() {
                if (password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords do not match");
                } else if (password.value.length < 6) {
                    confirm_password.setCustomValidity("Password must be six digits");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }
            if (password != null) {
                password.onchange = validatePassword;
                confirm_password.onkeyup = validatePassword;
            }
        });
        const rmCheck = document.getElementById("rememberMe"),
            emailInput = document.getElementById("email");

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function setupNavBar() {
            var nav_links = document.getElementsByClassName("navbar-link");
            nav_links[0].classList.add("active");
            for (i = 0; i < nav_links.length; i++) {
                (function(index) {
                    nav_links[index].addEventListener("click", function() {
                        for (k = 0; k < nav_links.length; k++) {
                            nav_links[k].classList.remove("active");
                        }
                        nav_links[index].classList.add("active");
                    })
                })(i);
            }
        }
    </script>
</body>

</html>