<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Coordinate Dashboard</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
  </head>
<script> var error = ""; </script>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Coordinate</a>
      <a class="nav-link" href="logout" style="color: white">Logout</a> 
    </nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              Dashboard 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="create">
              Create a New Dataset <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="manageData">
              Manage Existing Datasets
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Other</span>
          <a class="d-flex align-items-center text-muted" href="#">
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="support">
              <span data-feather="file-text"></span>
              Contact Us
            </a>
          </li>
        </ul>
	<ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="deleteAccount">
              <span data-feather="file-text"></span>
              Delete Account
            </a>
          </li>
        </ul>
        </ul>
	<ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="privacyPolicy">
              <span data-feather="file-text"></span>
              Privacy Policy
            </a>
          </li>
        </ul>
      </div>
    </nav>
<body>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
<h2>Welcome, <%= email %>!</h2>

<p></p>
<b> <font color ="red"> <%= error %> </font></b>
<p> <button class = "btn btn-primary" id = "changeEmail" href="javascript:showEmailForm()">Change my email</button> </p>
<p> <button class = "btn btn-primary" id = "changePassword" href="javascript:showPasswordForm()">Change my Password</button> </p>

        <!-- CHANGE EMAIL FORM -->
        <div class="row justify-content-center" style="display: none" id="emailForm">
            <div class="col-sm-12">
                <form class="form-signin" action="/changeEmail" enctype="multipart/form-data" method="post">

                    <!-- <h1 class="h3 text-whitemb-3 font-weight-normal">Login to MapRoom</h1> -->

                    <!-- <h1 class="h3 text-whitemb-3 font-weight-normal">Login to MapRoom</h1> -->
                    <input type="password" class="form-control" placeholder="Enter Current Password" id="currPassword" name="currPassword" required>

                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="currEmail" name="currEmail" class="form-control" placeholder="Current Email Address" required autofocus>

                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="New Email address" required autofocus>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Change Email</button>
<b><%= error%></b>
                </form>
            </div>
        </div>


        <!-- CHANGE PASSWORD FORM -->
        <div class="row justify-content-center" style="display: none" id="passwordForm">
            <div class="col-sm-12">
                <form class="form-signin" action="/changePassword" enctype="multipart/form-data" method="post">

                    <!-- <h1 class="h3 text-whitemb-3 font-weight-normal">Login to MapRoom</h1> -->
                    <input type="password" class="form-control" placeholder="Enter Current Password" id="oldPassword" name="oldPassword" required>

                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter new Password" required>

                    <input type="password" class="form-control" placeholder="Confirm New Password" id="confirm_password" required>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
                </form>
            </div>
        </div>
    </main>
  </div>
</div>
</body>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script>
    function showPasswordForm() {
        $("#passwordForm").show();
        $("#emailForm").hide();
    }

    function showEmailForm() {
        $("#emailForm").show();
        $("#passwordForm").hide();
    }

$(document).ready(function() {


        var url = window.location.href;
        var n = url.lastIndexOf('/');
        var href = url.substring(n + 1);
        console.log(href);


        //console.log(window.location.href.split('/')[1]);
        if (href == "#changeEmail") {
            showEmailForm();
        } else if (href == "#changePassword") {
            showPasswordForm();
        }

        $("#changeEmail").click(function() {
            showEmailForm();
        });


        $("#changePassword").click(function() {
            showPasswordForm();
        });

        var password = document.getElementById("password"),
            confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords do not match");
            } else if (password.value.length < 8) {
                confirm_password.setCustomValidity("Password must be at least eight digits");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    });

</script>
</html>

