body{
  margin: 0;
  text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container{
  width: 80%;
  margin: 0 auto;
}

.logo{
  float: left;
}

nav{
  float: right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  margin-left: 5px;
}
nav a{
  text-decoration: none;
}

nav ul li{
  float: left;
  position: relative;
}

nav ul li a{
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li ul li {
  display: none;
}

nav ul li:hover ul li {
  display: block;
}

.bg img {
    width: 100%;
     height: auto;
}

.text_1_on_image{
  word-wrap: break-word;
  position: absolute;
  top: 308px;
  left: 107px;
  width: 478px;
  height: 116px;
  text-align: left;
font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000F;
  opacity: 0.6;
  color: #FFFFFF;
  font-size: 300%;

}

.text_2_on_image{
  word-wrap: break-word;
  position: absolute;
  top: 464px;
left: 109px;
width: 328px;
height: 54px;
text-align: left;
font-family: 'Roboto', sans-serif;
background: #000000 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #0000000F;
opacity: 0.6;
color: #FFFFFF;
font-size: 300%;
  font-size: 80%;

}

.text_3{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  top: 722px;
left: 370px;
width: 541px;
height: 181px;
opacity: 1;
text-align: center;
}

.text_4{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  top: 783px;
left: 370px;
width: 541px;
height: 81px;
text-align: center;
font-size: 18px ;
letter-spacing: 0.09px;
color: #2A2A2A;
opacity: 1;
}

.right_panel{
  position: absolute;
  top: 1182px;
  left: 376px;
  width: 900px;
  height: 331px;
}

.grid-container{
  position: relative;
  align: center;
}
.grid-container div{
  float: left;
  padding: 20px;
}

.page2{
  float: left;
}
