body{
	margin: 0;
	padding: 0;
}
#titlediv{
top: 314px;
left: 85px;
width: 473px;
height: 67px;
text-align: left;
font: Black 56px/67px Roboto;
letter-spacing: -0.28px;
color: #FFFFFF;
opacity: 1;
}
#topsearchxr{
	top: 164px;
left: 0px;
width: 1280px;
height: 256px;
transform: matrix(-1, 0, 0, -1, 0, 0);
background: transparent linear-gradient(180deg, #000000 0%, #000000E5 40%, #00000000 100%) 0% 0% no-repeat padding-box;
opacity: 0.5;
}

#searchbox{
	top: 602px;
left: 85px;
width: 256px;
height: 33px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #999999;
border-radius: 3px;
opacity: 1;
}
#searchicon{
	top: 611px;
left: 319px;
width: 14px;
height: 14px;
background: transparent url('searchicon.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

#para1{
	top: 468px;
left: 85px;
width: 688px;
height: 51px;
text-align: left;
font: Regular 16px/22px Roboto;
letter-spacing: 0.08px;
color: #2A2A2A;
opacity: 1;
}
#table{
right: 0;
}

.header{
	width: 100%;
	height: 58px;
	display: block;
	background-color: #FFFFFF;
}

.header ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.header ul li{
	float: left;
	width: 120px;
	height 40px;

}

#asu_hdr{
	width: 80%;
	height: 100%;
	display: block;
	margin: 0 auto;
	background-color: white;
}

#logo_img{
	max-width: 70%;
	max-height: 70%;

}

#asu_logo{
	height: 100%;
	display: table;
	float: left;
}

#a_li{
	float: left;
	text-align: center;
	font-size: 10px;
}
#a_li a {
	display: block;
}

#a_li a:link {
  text-decoration: none;
}


#a_li a:visited {
  text-decoration: none;
}

#a_li a:hover {
	text-decoration-color: #8E0C3A;
	text-decoration: underline;
}

#a_li ul li {

}
#menu_submenu{
	display: none;
}

#main_menu_items{
	float: left;
}

#main_menu_items:hover #menu_submenu{
	display: block;
}
