body{
  margin: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container{
  width: 80%;
  margin: 0 auto;
}

.logo{
  float: left;
}

nav{
  float: right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  margin-left: 5px;
}
nav a{
  text-decoration: none;
}

nav ul li{
  float: left;
  position: relative;
}

nav ul li a{
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li ul li {
  display: none;
}

nav ul li:hover ul li {
  display: block;
}

#search{
  position: absolute;
  top: 1072px;
  left: 445px;
  height: 50px;
  width: 619px;
  border-radius: 25px;
}

#search_button{
  position: absolute;
    top: 1090px;
    left: 1080px;
}

.explore_tags p::selection{
  background-color: #FFC627
}

.grid-container{
  display: flex;
  flex-wrap: wrap;
}

.second_layer_grid_items {
  position: absolute;
  top: 1583px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  padding-left: 10px;
}

.art_icon {
  margin-left: 60px; height: 45px; background-color: #aaa;  border-radius: 25px; text-align: center; padding: 10px 0;
}

.art_icon p{
  display: inline;
   width: auto;
}

.art_icon img{
  object-fit: scale-down;
}

.art_icon:hover {
  background: #FFC627;
}

.article_details_display1{
  padding-left: 20px;
  position: absolute;
  background: #FFFFFF;
  border-radius: 25px;
  border: 0.5px solid;
  width: 251px;
  height: 82px;
  top: 1300px;
  left: 500px;
}

.article_details_display2{
  padding-left: 20px;
  position: absolute;
  background: #FFFFFF;
  border-radius: 25px;
  border: 0.5px solid;
  width: 251px;
  height: 82px;
  top: 185px;
  left: 10px;
}

.article_details_display3{
  padding-left: 20px;
  position: absolute;
  background: #FFFFFF;
  border-radius: 25px;
  border: 0.5px solid;
  width: 251px;
  height: 82px;
  top: 185px;
  left: 270px;
}
.article_details_display4{
  padding-left: 20px;
  position: absolute;
  background: #FFFFFF;
  border-radius: 25px;
  border: 0.5px solid;
  width: 251px;
  height: 82px;
  top: 185px;
  left: 530px;
}

.bottom_fill {
      border-radius: 25px;
      background-color: #FFC627;
      height: 5%;
      width: 89%;
      position: absolute;
      bottom: 0;
      left: 12.5px;
    }


/* footer begins */
.footer{
  background-color: #000000;
  /* height: 434px; */
}

.footer_content{
  height: 434px;
  padding-bottom: 8px;
}


.footer_content_logo {
  height: 100px;
  padding-top: 40px;
  padding-left: 85px;
}

.footer_content_links {
  padding-top: 55px;
  padding-left: 45px;
}

.footer_content_links li{
  padding-top: 8px;
}

.footer_content_links li a{
  text-decoration-style: dotted;
}

.footer_content_links li a:link{
  color: white;
}
.footer_content_links li a:active{
  color: white;
}
.footer_content_links li a:visited{
  color: white;
}


.footer_content_button{
  padding-top: 70px;
  padding-left: 85px;
}
.footer_content_button button {
  border-radius: 5px;
  width: 102px;
  height: 36px;
  background: #FFC627;
  font-size: 1.2em;
  font-weight: bold;
  color: #1e1e1e;
  border-width: thin;

}

.footer_bottom{
  background-color: #FFC627;
  height: 77px;
}

.footer_bottom_text{
  padding-top: 19px;
  float: right;
  font-size: 2em;
  font-weight: 900;
  color: #1e1e1e;
  padding-right: 30px;
}
.footer_bottom_img{
  position: relative;
  padding-right: 8%;
  bottom: 20px;
  float: right;
  top: -20px;
  max-width: 110%;
  max-height: 110%;
}


.footer_bot{
  height: 69px;
  background-color: #e5e5e5;
  padding-left: 85px;
  vertical-align: middle;
  padding-top: 27px;
}
.footer_bot a{
  padding-right: 28.8px;
  text-decoration: none;
}

.footer_bot a:link{
  color: #2a2a2a;
}
/* footer ends */
